a(name="extensions")
section.extensions
	h2 Extensions
	div.extensions-container
		div.extensions-container-col
			article
				h3 <img src="./img/extensions/icon-extension.svg" /> #[a(href="//orthes.github.io/medium-editor-insert-plugin") Image Upload]
				p.author
					img(src="//avatars2.githubusercontent.com/u/312938?v=3&s=25")
					span by #[a(href="//github.com/orthes") Pavel Linkesch]
				p Pavel Linkesch has developed a jQuery plugin to upload images & embed content (from Twitter, Youtube, Vimeo, etc.) following Medium.com functionality.
				p
					div <strong>demo</strong>
					div #[a(href="//orthes.github.io/medium-editor-insert-plugin") orthes.github.io/medium-editor-insert-plugin]
				p
					div <strong>github</strong>
					div #[a(href="//github.com/orthes/medium-editor-insert-plugin") orthes/medium-editor-insert-plugin]

			article
				h3 <img src="./img/extensions/icon-extension.svg" /> #[a(href="//stillhart.biz/project/MediumButton") MediumButton]
				p.author
					img(src="//avatars1.githubusercontent.com/u/8338465?v=3&s=25")
					span by #[a(href="//github.com/arcs-") Patrick Stillhart]
				p Patrick Stillhart developed a new and improved way to add buttons to our toolbar. With it you can add HTML or javascript buttons.
				p
					div <strong>demo</strong>
					div #[a(href="//stillhart.biz/project/MediumButton") stillhart.biz/project/MediumButton]
				p
					div <strong>github</strong>
					div #[a(href="//github.com/arcs-/MediumButton") #{"arcs-/MediumButton"}]

			article
				h3 <img src="./img/extensions/icon-extension.svg" /> #[a(href="//jillix.github.io/medium-editor-custom-html/") Inserting custom HTML]
				p.author
					img(src="//avatars1.githubusercontent.com/u/2864371?v=3&s=25")
					span by #[a(href="//github.com/IonicaBizau") Ionică Bizău]
				p At #[a(href="//github.com/jillix") jillix], Ionică Bizău developed a Medium Editor extension that allows inserting custom HTML into the editor.
				p
					div <strong>demo</strong>
					div #[a(href="//jillix.github.io/medium-editor-custom-html/") jillix.github.io/medium-editor-custom-html]
				p
					div <strong>npm</strong>
					div #[a(href="//www.npmjs.com/package/medium-editor-custom-html") medium-editor-custom-html]
				p
					div <strong>github</strong>
					div #[a(href="//github.com/jillix/medium-editor-custom-html") jillix/medium-editor-custom-html]

			article
				h3 <img src="./img/extensions/icon-extension.svg" /> #[a(href="//varunraj.in/medium-editor-autolist/example/") Auto List Creation]
				p.author
					img(src="//avatars1.githubusercontent.com/u/3992409?v=3&s=25")
					span by #[a(href="//github.com/varun-raj") Varun Raj]
				p Varun Raj developed an extention that automatically converts ( 1. Space ) to ordered list and ( * Space ) to unordered list if the corresponding base extensions are enabled.
				p
					div <strong>demo</strong>
					div #[a(href="//varunraj.in/medium-editor-autolist/example/") varunraj.in/medium-editor-autolist/example/]
				p
					div <strong>github</strong>
					div #[a(href="//github.com/varun-raj/medium-editor-autolist") varun-raj/medium-editor-autolist]

			article
				h3 <img src="./img/extensions/icon-extension.svg" /> #[a(href="//asselinpaul.github.io/medium-editor-handsontable") Handsontable]
				p.author
					img(src="//avatars1.githubusercontent.com/u/868249?v=3&s=25")
					span by #[a(href="//github.com/asselinpaul") Paul Asselin]
				p Paul Asselin has created an extension to add handsontable spreadsheets to MediumEditor.
				p
					div <strong>demo</strong>
					div #[a(href="//asselinpaul.github.io/medium-editor-handsontable") asselinpaul.github.io/medium-editor-handsontable]
				p
					div <strong>npm</strong>
					div #[a(href="//www.npmjs.com/package/medium-editor-handsontable") medium-editor-handsontable]
				p
					div <strong>github</strong>
					div #[a(href="//github.com/asselinpaul/medium-editor-handsontable") #{"asselinpaul/medium-editor-handsontable"}]

			article
				h3 <img src="./img/extensions/icon-extension.svg" /> #[a(href="//orhanveli.github.io/") Embed Button]
				p.author
					img(src="//avatars0.githubusercontent.com/u/525103?v=3&s=25")
					span by #[a(href="//github.com/orhanveli") orhanveli]
				p orhanveli has created an oEmbed based embedding button for MediumEditor.
				p
					div <strong>demo</strong>
					div #[a(href="//orhanveli.github.io/") orhanveli.github.io/]
				p
					div <strong>github</strong>
					div #[a(href="//github.com/orhanveli/medium-editor-embed-button") #{"orhanveli/medium-editor-embed-button"}]

			article
				h3 <img src="./img/extensions/icon-extension.svg" /> #[a(href="//davideanderson.github.io/medium-editor-toolbar-states") Toolbar States]
				p.author
					img(src="//avatars2.githubusercontent.com/u/3507057?v=3&s=25")
					span by #[a(href="//github.com/davideanderson") David Anderson]
				p David Anderson has created An Extension for MediumEditor which allows different toolbar configurations based on the selected element(s).
				p
					div <strong>demo</strong>
					div #[a(href="//davideanderson.github.io/medium-editor-toolbar-states") davideanderson.github.io/medium-editor-toolbar-states]
				p
					div <strong>github</strong>
					div #[a(href="//github.com/davideanderson/medium-editor-toolbar-states") #{"davideanderson/medium-editor-toolbar-states"}]

		div.extensions-container-col
			article
				h3 <img src="./img/extensions/icon-extension.svg" /> #[a(href="//yabwe.github.io/medium-editor-tables/") Tables]
				p.author
					img(src="//avatars2.githubusercontent.com/u/12655868?v=3&s=25")
					span by #[a(href="//github.com/yabwe") yabwe]
				p An extension for inserting tables into the editor.
				p
					div <strong>demo</strong>
					div #[a(href="//yabwe.github.io/medium-editor-tables/") yabwe.github.io/medium-editor-tables]
				p
					div <strong>npm</strong>
					div #[a(href="//www.npmjs.com/package/medium-editor-tables") medium-editor-tables]
				p
					div <strong>github</strong>
					div #[a(href="//github.com/yabwe/medium-editor-tables") yabwe/medium-editor-tables]

			article
				h3 <img src="./img/extensions/icon-extension.svg" /> #[a(href="//ionicabizau.github.io/medium-editor-markdown/") Markdown]
				p.author
					img(src="//avatars1.githubusercontent.com/u/2864371?v=3&s=25")
					span by #[a(href="//github.com/IonicaBizau") Ionică Bizău]
				p Ionică Bizău has created a MediumEditor extension, named Medium Editor Markdown, to add the functionality to render the HTML into Markdown code.
				p
					div <strong>demo</strong>
					div #[a(href="//ionicabizau.github.io/medium-editor-markdown/") ionicabizau.github.io/medium-editor-markdown]
				p
					div <strong>npm</strong>
					div #[a(href="//www.npmjs.com/package/medium-editor-markdown") medium-editor-markdown]
				p
					div <strong>github</strong>
					div #[a(href="//github.com/IonicaBizau/medium-editor-markdown") IonicaBizau/medium-editor-markdown]

			article
				h3 <img src="./img/extensions/icon-extension.svg" /> #[a(href="//smiled0g.github.io/medium-editor-multi-placeholders-plugin/") MultiPlaceholders]
				p.author
					img(src="//avatars1.githubusercontent.com/u/891585?v=3&s=25")
					span by #[a(href="//github.com/smiled0g") Kasi Chonpimai]
				p Kasi Chonpimai has created an enhanced placeholder plugin which enables users to add multiple placeholders with specific HTML tags.
				p
					div <strong>demo</strong>
					div #[a(href="//smiled0g.github.io/medium-editor-multi-placeholders-plugin/") smiled0g.github.io/medium-editor-multi-placeholders-plugin]
				p
					div <strong>npm</strong>
					div #[a(href="//www.npmjs.com/package/medium-editor-multi-placeholders-plugin") medium-editor-multi-placeholders-plugin]
				p
					div <strong>github</strong>
					div #[a(href="//github.com/smiled0g/medium-editor-multi-placeholders-plugin") smiled0g/medium-editor-multi-placeholders-plugin]

			article
				h3 <img src="./img/extensions/icon-extension.svg" /> #[a(href="//tomchentw.github.io/medium-editor-tc-mention") TCMention]
				p.author
					img(src="//avatars1.githubusercontent.com/u/922234?v=3&s=25")
					span by #[a(href="//github.com/tomchentw") Tom Chen]
				p Tom Chen has built this extension to add mention support for @username or #tags that came from Medium 2.0. It also allows users to customize the mention panel for their favor.
				p
					div <strong>demo</strong>
					div #[a(href="//tomchentw.github.io/medium-editor-tc-mention") tomchentw.github.io/medium-editor-tc-mention]
				p
					div <strong>npm</strong>
					div #[a(href="//www.npmjs.org/package/medium-editor-tc-mention") medium-editor-tc-mention]
				p
					div <strong>github</strong>
					div #[a(href="//github.com/tomchentw/medium-editor-tc-mention") #{"tomchentw/medium-editor-tc-mention"}]

			article
				h3 <img src="./img/extensions/icon-extension.svg" /> #[a(href="//github.com/mkawczynski07/medium-editor-list") List Extension]
				p.author
					img(src="//avatars1.githubusercontent.com/u/5694642?v=3&s=25")
					span by #[a(href="//github.com/mkawczynski07") Marek Kawczyński]
				p Marek Kawczyński has created an extension which adds a button to the toolbar for inserting customized paragraphs into the editor.
				p
					div <strong>npm</strong>
					div #[a(href="//www.npmjs.com/package/medium-editor-list") medium-editor-list]
				p
					div <strong>github</strong>
					div #[a(href="//github.com/mkawczynski07/medium-editor-list") #{"mkawczynski07/medium-editor-list"}]

			article
				h3 <img src="./img/extensions/icon-extension.svg" /> #[a(href="//github.com/nymag/medium-editor-phrase") Phrase Button]
				p.author
					img(src="//avatars3.githubusercontent.com/u/22883?v=3&s=25")
					span by #[a(href="//github.com/cruzanmo") Morgan Croney]
				p #[a(href="//github.com/nymag") NY Mag] has created an extension which adds a Phrase button for Medium Editor; useful for adding span tags to text.
				p
					div <strong>npm</strong>
					div #[a(href="//www.npmjs.com/package/medium-editor-phrase") medium-editor-phrase]
				p
					div <strong>github</strong>
					div #[a(href="//github.com/nymag/medium-editor-phrase") #{"nymag/medium-editor-phrase"}]

			article
				h3 <img src="./img/extensions/icon-extension.svg" /> #[a(href="//github.com/jawish/medium-editor-thaanakbd") Thaana Keyboard]
				p.author
					img(src="//avatars2.githubusercontent.com/u/2058516?v=3&s=25")
					span by #[a(href="//github.com/jawish") Jawish Hameed]
				p Jawish Hameed has created Thaana Keyboard extension for MediumEditor.
				p
					div <strong>github</strong>
					div #[a(href="//github.com/jawish/medium-editor-thaanakbd") #{"jawish/medium-editor-thaanakbd"}]
